@import "./base.scss";

.page-community {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  h1,
  h3 {
    color: $white;
  }

  .community-bg {
    height: 70vh;
    max-height: 70vh;
    margin-top: 10vh;
    // position: absolute;
    // right: 0;
    // top: 0;
    background-image: url(../assets/images/bg/community.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @include media-breakpoint-down(sm) {
    justify-content: center;
    text-align: center;

    .community-bg {
      display: none;
    }
  }
}
