@import "./base.scss";

.page-community {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-top: $menu-height;
  padding-bottom: 0;
  padding-top: 0;

  background-image: url(../assets/images/bg/community-bg.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(90vh - #{$menu-height});

  @include media-breakpoint-down(md) {
    height: auto;
  }
  // .container {
  //   height: calc(90vh - #{$menu-height});
  // }

  .community-header {
    max-width: 750px;
  }
  h1,
  h3 {
    color: $white;
  }

  .community-bg {
    position: absolute;
    right: 50px;
    height: 70vh;
    max-height: calc(70vh - #{$menu-height});
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-image: url(../assets/images/bg/community.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @include media-breakpoint-down(sm) {
      position: relative;
      right: auto;
    }
  }

  @include media-breakpoint-down(sm) {
    justify-content: flex-end;
    text-align: center;

    .community-header {
      margin-top: 10vh;
    }

    .community-bg {
      max-height: 50vh;
      margin-top: 2rem;
      background-position: center top;
    }
  }
}

.contribute-pane {
  margin: 1rem;
  padding: 3rem;

  .side-by-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > * {
      flex: 1;
    }

    .image-container {
      display: flex;
      height: 100%;
      align-items: flex-start;
      justify-content: center;

      img {
        width: 50%;
        min-width: 150px;
      }
    }

    .btn {
      margin-top: 3rem;
    }
  }

  @include media-breakpoint-down(md) {
    padding: 0;
    margin: 2rem 0;
    .side-by-side {
      display: block;

      .image-container {
        height: auto;
        img {
          margin: auto;
        }
      }

      .mono-box {
        justify-content: center;
        margin-top: 2rem;
      }
      .btn {
        width: 100%;
      }
    }
  }
}

.action-panel-list {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  margin-top: 4rem;

  .panel {
    flex: 1;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .description {
      flex: 1;
    }
    .mono-box {
      margin-top: 2rem;
    }

    .actions {
      margin-top: 2rem;
    }
  }

  &.build-community {
    padding: 1rem 3rem;

    @include media-breakpoint-down(md) {
      padding: 0;
      .panel {
        padding: 0;
        &:before {
          display: none;
        }
      }
    }

    .panel {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 4rem;
        bottom: 4rem;
        right: 0;
        border-right: 1px solid $black60;
      }

      &:last-child {
        border-right: none;
        &:before {
          display: none;
        }
      }
    }
  }

  &.support {
    .panel {
      background-color: $black90;
      border: none;
      border-radius: $border-radius;
      margin: 1rem;
      align-items: flex-start;
      padding: 2rem;

      &:last-child {
        border-right: none;
      }

      .description {
        text-align: left;
      }

      .mono-box {
        span {
          background-color: $black100;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    display: block;
    .panel {
      border-right: none !important;
      margin: 2rem 0 !important;
    }
  }
}

.text-turquoise-mono {
  @include font-mono-plain;
  color: $secondary-turquoise;
  font-weight: normal;
}
