@import "./base.scss";

.page-community {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  h1,
  h3 {
    color: $white;
  }

  .community-bg {
    height: 70vh;
    max-height: 70vh;
    margin-top: 10vh;
    background-image: url(../assets/images/bg/community.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @include media-breakpoint-down(sm) {
    justify-content: flex-end;
    text-align: center;

    .community-header {
      margin-top: 10vh;
    }

    .community-bg {
      max-height: 50vh;
      margin-top: 2rem;
      background-position: center top;
    }
  }
}

.contribute-pane {
  border: 1px solid $black10;
  box-shadow: $box-shadow;
  background-color: $white;
  border-radius: $border-radius;
  padding: 2rem;
  margin: 3rem 1rem;

  &:nth-child(odd) {
    .side-by-side {
      flex-direction: row-reverse;
      .image-container {
        flex-direction: row-reverse;
      }
    }
  }

  .side-by-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > * {
      flex: 1;
    }

    .image-container {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: flex-start;

      img {
        width: 50%;
        min-width: 150px;
      }
    }

    .mono-box {
      span {
        background-color: $black100;
      }
      margin-bottom: 3rem;
    }

    .btn {
      margin-top: 3rem;
    }

    @include media-breakpoint-down(md) {
      display: block;

      .image-container {
        height: auto;
        img {
          margin: auto;
        }
      }

      .mono-box {
        justify-content: center;
        margin-top: 2rem;
      }
      .btn {
        width: 100%;
      }
    }
  }
}

.action-panel-list {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  margin-top: 4rem;

  .panel {
    flex: 1;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .description {
      flex: 1;
    }
    .mono-box {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .actions {
      margin-top: 2rem;
    }
  }

  &.build-community {
    .panel {
      border-right: 1px solid $black20;

      &:last-child {
        border-right: none;
      }
    }
  }

  &.support {
    .panel {
      border: 1px solid $black10;
      box-shadow: $box-shadow;
      background-color: $white;
      margin: 2rem 1rem;

      &:last-child {
        border-right: none;
      }
      .mono-box {
        span {
          background-color: $black100;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    display: block;
    .panel {
      border-right: none !important;
    }
    .actions {
      width: 100%;
      .btn {
        width: 100%;
      }
    }
  }
}
