@import "./base.scss";

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  line-height: 1.7;
}

@media (min-width: 1500px) {
  .container {
    width: 70%;
    max-width: 1700px;
  }
}

h2.h2 {
  font-weight: 600;
  margin-bottom: 2rem;
  font-size: 3.5rem;

  @include media-breakpoint-down(lg) {
    font-size: 2.5rem;
  }
}

h3.h3 {
  font-size: 1.3rem;
  line-height: 2.1rem;
  color: $black80;
  font-weight: normal;
  @include media-breakpoint-down(lg) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

section {
  min-height: 100vh;
  padding-top: 10vh;
  padding-bottom: 15vh;
  background-color: $black5;
  overflow: hidden;

  .sub-title {
    margin-top: 32px;

    margin-bottom: 64px;
  }

  .main-title {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.3;

    @include media-breakpoint-up(lg) {
      font-size: 3.5rem;
    }

    @include media-breakpoint-up(xl) {
      font-size: 4rem;
    }
  }

  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  &.page-welcome {
    // height: $page-welcome-height;
    min-height: $page-welcome-height;

    background-image: url(../assets/images/bg/home-bg.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: $solution-card-height/2;

    .buttons-wrapper {
      flex-direction: column;
    }
    .main-title {
      max-width: 1024px;

      @include media-breakpoint-down(sm) {
        font-size: 2.5rem;
      }
    }

    .sub-title {
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;

      .highlight {
        @include semi-bold;
        color: $primary;
      }
    }
    .spacer {
      min-width: 1rem;
    }
    .btn {
      vertical-align: middle;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      flex: auto;
      width: 100%;
      height: 3.5rem;

      .social-link {
        margin-right: 0.5rem;
      }

      img {
        max-height: 1.4rem;
        margin-right: 0.5rem;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    &.page-welcome {
      .buttons-wrapper {
        flex-direction: row;

        .btn {
          max-width: 180px;
          height: 2.5rem;
          flex: 1;
        }
      }
    }
  }

  &.page-welcome-solution {
    padding-top: 0;
    position: relative;
    background-color: transparent;

    padding-top: $solution-card-height;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: $black5;

      @include media-breakpoint-down(lg) {
        top: $solution-card-height-mobile/2;
      }
    }
    min-height: 0;
  }

  &.page-steps {
    padding-top: 15vh;
  }
  &.page-roadmap {
    padding-top: 15vh;
  }
  &.page-about {
    padding-bottom: 5vh;
  }
}

.section-hint {
  @include font-mono;
  color: $primary;
}

.solution {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    .solution-card {
      margin-bottom: 4rem;
      max-width: 750px;
    }
  }
}

.feature-images-tabs {
  border-bottom: none;
  .nav-link,
  .nav-link.active {
    border-radius: 1rem;
    border: none;
    background: none;
    color: $black80;
    font-size: 1rem;
    line-height: 1;
    padding: 0.5rem 1rem;
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
  }
  .nav-link.active {
    background-color: $black10;
    @include semi-bold;
  }
  .nav-link:hover {
    background-color: $black10;
  }
}

.solution-card {
  flex: 1;
  text-align: left;
  background-color: none;
  color: $black80;
  border-radius: $border-radius;
  //height: $solution-card-height;
  display: block;

  margin: 0 2rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 1.7;
  max-width: 320px;

  .solution-icon {
    display: block;
    align-items: center;
    justify-content: center;

    width: 80px;
    height: 80px;
    border-radius: 16px;
    margin-bottom: 1rem;
    text-align: center;
    padding: 12px;

    background: radial-gradient(50% 50% at 50% 50%, #1e1e5f 0%, #121242 100%);
    box-shadow: 0px 8px 20px rgba(18, 18, 66, 0.16);

    img {
      width: 56px;
    }

    &.rotate {
      img {
        transform: rotate(30deg);
      }
    }
  }

  &:first-child {
    .solution-icon {
      background: radial-gradient(50% 50% at 50% 50%, #41cadd 0%, #3dc8db 100%);
      box-shadow: 0px 8px 20px rgba(18, 18, 66, 0.16);
    }
  }

  &:last-child {
    .solution-icon {
      background: radial-gradient(50% 50% at 50% 50%, #7950ed 0%, #754ceb 100%);
      box-shadow: 0px 8px 20px rgba(96, 59, 201, 0.2);
    }
  }
}

.feature-card {
  // background-color: $white;
  // border-radius: $border-radius;
  // border: 1px solid $black10;
  font-size: 0.8rem;
  padding: 0.5rem;
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
  // height: 80%;

  .feature-card-text {
    margin-top: 1rem;
    @include semi-bold();
    padding-bottom: 1rem;
    height: 3rem;
  }
  img {
    width: 100px;
  }

  @include media-breakpoint-up(md) {
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 2rem;
    font-size: 0.9rem;

    img {
      width: 120px;
    }
    .feature-card-text {
      padding-bottom: 0rem;
    }
  }

  @include media-breakpoint-up(lg) {
    // margin-bottom: 4rem;
  }
}

.about-box {
  background-color: $primary;
  border-radius: 0.5rem;
  box-shadow: $default-box-shadow;
  padding: 4rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  color: $white;
  border: 1px solid $black10;
  letter-spacing: 0.5px;

  @include media-breakpoint-down(lg) {
    padding: 2rem 1rem;
  }

  .mono-box {
    span {
      background-color: $black100;
    }
  }

  @include media-breakpoint-up(lg) {
    height: 100%;
  }
}

.about-wrapper-2 {
  flex: 1;
  text-align: center;
  background-color: $black100;
  color: $white;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  display: flex;

  @include media-breakpoint-down(lg) {
    padding: 2rem 1rem;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }

  > * {
    flex: 1;
  }
  h2.h2 {
    margin-bottom: 0;
    @include media-breakpoint-down(lg) {
      text-align: left;
    }
  }

  .about-box {
    background-color: transparent;
    box-shadow: none;
    border: none;
    text-align: left;

    @include media-breakpoint-down(lg) {
      padding: 0;
      padding-top: 3rem;
    }
    .mono-box {
      span {
        background-color: $primary;
      }
    }
  }
}

.roadmap-wrapper {
  margin-top: 8rem;
  margin-bottom: 6rem;
}
.roadmap-box {
  .roadmap-title {
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    @include font-mono;
    color: $black80;
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
    background-color: $primary;
    color: $white;
    display: inline-block;
    transform: rotate(-90deg) translate(calc(-100% + -45px), 0px);
    transform-origin: top left;
    border-radius: $border-radius;
  }
  .roadmap-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-left: 0;
    li {
      list-style: none;
      color: $white;
      width: 100%;
      margin: 0;
      margin-bottom: 1rem;
    }

    .done {
      opacity: 0.5;
      text-decoration: line-through;
    }
  }
}

section.auto-height {
  min-height: 0;
}

.bg-page-hero {
  background-color: #451abd;
}

.bg-black100 {
  background-color: $black100;
}
.text-secondary-purple {
  color: $secondary-purple;
}
.text-black40 {
  color: $black40;
}
.text-black80 {
  color: $black80;
}

.feature {
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  img {
    width: 100%;
    margin-top: 4rem;
  }
  .feature-description {
    font-size: 1rem;

    @include media-breakpoint-down(lg) {
      text-align: left;
    }
  }

  @include media-breakpoint-up(md) {
    text-align: left;
    img {
      margin-top: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    .feature-description {
      max-width: 460px;
      font-size: 1.1rem;
    }
  }
}

.btn {
  font-size: 0.9rem;

  &:focus {
    box-shadow: none;
  }

  &.btn-dark {
    &:focus {
      background: $white;
      color: $black100;
      border: none;
    }
  }
}

.btn-outline-secondary {
  @include button-outline-secondary;
}

.social-link {
  background-color: $black100;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  margin-right: 2rem;

  @include media-breakpoint-down(lg) {
    margin-right: 1rem;
  }

  @include media-breakpoint-down(md) {
    margin-right: 2rem;
  }

  &:last-child {
    margin-right: 0;
  }

  &.linkedin {
    -webkit-mask-image: url(../assets/icons/linkedin.svg);
    mask-image: url(../assets/icons/linkedin.svg);
  }
  &.facebook {
    -webkit-mask-image: url(../assets/icons/facebook.svg);
    mask-image: url(../assets/icons/facebook.svg);
  }

  &.twitter {
    -webkit-mask-image: url(../assets/icons/twitter.svg);
    mask-image: url(../assets/icons/twitter.svg);
  }
  &.github {
    -webkit-mask-image: url(../assets/icons/github.svg);
    mask-image: url(../assets/icons/github.svg);
  }

  &:hover {
    background-color: $primary;
  }
}

.bg-image-policy-header {
  height: 200px;
}

.policy-content-align {
  max-width: 800px;
  text-align: justify;
  margin: auto;
}

.mono-box {
  @include semi-bold();
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;

  @include media-breakpoint-down(lg) {
    font-size: 1.1rem;
  }

  span {
    @include mono-box;
    background-color: $primary;
  }
  &.black {
    span {
      background-color: $black100;
    }
  }
}

.type-cards {
  display: flex;
  align-items: stretch;
  justify-content: center;

  @include media-breakpoint-down(lg) {
    display: block;
  }

  .type-card {
    max-width: 475px;
    margin: 0 1rem;
    flex: 1;
    background-color: $white;
    border-radius: 0.5rem;
    // border: 1px solid $black10;
    border: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3rem;
    flex-direction: column;
    margin-bottom: 2rem;

    @include media-breakpoint-down(lg) {
      padding: 2rem 1rem;
      margin-left: auto;
      margin-right: auto;
    }

    ul {
      padding: 0;
      margin: 0;
      li {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        padding-left: 38px;
        margin-bottom: 1.5rem;
        color: $black80;
        &:before {
          content: "";
          width: 24px;
          height: 24px;
          background-image: url("../assets/images/list-item-check-circle.svg");
          background-repeat: no-repeat;
          position: absolute;
          left: 0;
        }
      }
    }
    .spacer {
      flex: 1;
    }
    .btn {
      align-self: flex-end;
      margin-top: 4rem;
      width: 100%;
    }
  }
}

.footer-banner {
  background-image: url(../assets/images/bg/banner-free-to-use.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: $border-radius;
  background-color: #a787ff;
  padding: 2rem 4rem;
  padding-right: 8rem;
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  &__content {
    text-align: left;
  }
  h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }

  @include media-breakpoint-down(lg) {
    padding: 1rem 4rem;
    padding-right: 4rem;
  }

  @include media-breakpoint-down(md) {
    background-image: url(../assets/images/bg/banner-small-free-to-use.png),
      url(../assets/images/bg/banner-small-free-to-use-bg.svg);
    box-shadow: inset 4px -4px 20px 2px rgba(82, 58, 155, 0.22);
    background-position: bottom right, top left;
    background-size: 80%, cover;
    align-items: center;
    text-align: center;
    padding-bottom: 300px;
    padding-top: 3rem;
    padding-right: 4rem;

    h2 {
      text-align: center;
    }
  }

  &--dark {
    background-position: top center;
    background-color: $black100;
    color: $white;
    background-image: url(../assets/images/bg/footer-bg-dark.svg);
    padding: 4rem;
    align-items: center;

    h2 {
      font-size: 3.5rem;
      margin-bottom: 0;
    }
  }
}

footer {
  padding-top: 0;

  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .contact-title {
    @include semi-bold();
    color: $black100;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
  }
  .contact-details {
    color: $black60;
    @include media-breakpoint-down(md) {
      margin-bottom: 4rem;
    }
  }

  .social-link {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.footer-line {
  border-top: 1px solid $black10;
  height: 80px;
  color: $black40;
  font-size: 0.75rem;
  margin-top: 4rem;

  a {
    color: $black40;
    text-decoration: underline;
  }
}
