nav.navbar {
  border-bottom: none;
  //box-shadow: 0px 0px 10px rgba(109, 95, 149, 0.04), 0px 8px 10px rgba(109, 95, 149, 0.04);
  box-shadow: 0px 4px 20px rgba(9, 12, 25, 0.4);
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  .navbar-collapse {
    //mobile menu
    &.collapse.show,
    &.collapsing {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      transition: none;
      background-color: $primary;
      color: $white;
      margin-left: -1.5rem;
      margin-right: -1.5rem;
      animation: menu 0.3s ease-in;
      height: 100vh;
      position: absolute;
      top: 0;
      width: 100vw;
      padding: 0.5rem;

      .mobile-menu-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      .navbar-toggler {
        color: $white;
        padding: 0.5rem;
        .amp-icon {
          font-size: 1.5rem;
        }
      }

      .navbar-brand {
        margin-bottom: 2rem;

        img {
          height: 35px;
          padding-left: 1rem;
        }
      }
      ul {
        margin-left: 0 !important;
      }
      .menu-contact {
        .contact-title {
          border-top: 1px solid transparentize($white, 0.8);
          margin: 1rem;
          padding-top: 2rem;
          margin-top: 2rem;
        }
        .contact-details {
          margin-bottom: 3rem;
          color: transparentize($white, 0.2);
        }
        .social-link {
          background-color: $white;
          margin-right: 3rem;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .nav-item {
        .nav-link {
          color: $white;
          font-size: 1.5rem;
          margin-top: 0.5rem;
          font-weight: normal;
        }
      }
    }
  }

  @keyframes menu {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0%);
    }
  }

  .latest-version {
    @include font-mono;
    position: absolute;
    bottom: -36px;
    height: 36px;
    background-color: $primary;
    color: $white;
    width: fit-content;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .navbar-toggler {
    padding-right: 0;
  }

  .navbar-toggler-icon {
    height: 17px;
    width: 22px;
    border-top: 3px solid $black5;
    border-bottom: 3px solid $black5;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 4px;
      left: 0;
      border-top: 3px solid $black5;
      width: 100%;
    }
  }

  .nav-item {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    position: relative;

    &.active {
      @include selected-tab;
      .nav-link {
        color: $white
      }
    }

    .nav-link {
      color: $black20;
      white-space: nowrap;
      padding-right: 1rem !important;
      padding-left: 1rem !important;

      &.hover:hover {
        color: $white;
      }

      .social-link {
        width: 1.5rem;
        height: 1.5rem;
      }

      &.btn {
        // @include button-outline-secondary;
        color: $white;
        margin: 0 0.5rem;
        padding: 0.5rem 2rem !important;
      }
    }
  }
}
