@import "./base.scss";

.pricing {
  //align-content: center;
  text-align: left;
  //align-items: center;
  //width: 50rem;
  h1{
    padding-top: 4rem;
    font-size: 2rem;
    text-align: left;

  }
  span{
    font-size: 1.4rem;
  }
}


