@import "./bootstrap-override.scss";
@import "./css-variables.css";

$menu-height: 70px;
$solution-card-height: 220px;
$page-welcome-height: 100vh;

@mixin font-mono {
  font-family: "DM Mono", monospace;
  font-size: 0.9rem;
  font-weight: 500;
}
@mixin semi-bold {
  font-weight: 500;
}

@mixin mono-box {
  @include font-mono;
  font-size: 1rem;
  border-radius: $border-radius;
  background-color: $black100;
  display: inline-block;
  padding: 0.25rem 1rem;
  color: $white;
  margin-right: 1rem;
}

@mixin button-outline-secondary {
  border-color: $black20;
  background-color: $white;
  color: $primary;
  white-space: nowrap;
  .social-link {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.5rem;
  }

  &:focus {
    box-shadow: none;
    border-color: $black100;
  }

  &:hover {
    background-color: $white;
    border-color: $primary;
    color: $primary;
    // .social-link {
    //   background-color: $white;
    // }
  }
}

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

@media (min-width: 1500px) {
  .container {
    width: 80%;
    max-width: 1700px;
  }
}

h2.h2 {
  font-weight: 600;
  margin-bottom: 2rem;
  font-size: 3.5rem;
}

h3.h3 {
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: $black80;
  font-weight: normal;
}

section {
  min-height: 100vh;
  padding-top: 10vh;
  padding-bottom: 15vh;
  background-color: $black5;
  overflow: hidden;

  &.page-welcome {
    // height: $page-welcome-height;
    min-height: $page-welcome-height;

    background-image: url(../assets/images/bg/home-bg.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: $solution-card-height/2;

    .buttons-wrapper {
      flex-direction: column;
    }
    .container {
      padding-left: 24px;
      padding-right: 24px;
    }

    .sub-title {
      margin-top: 32px;

      margin-bottom: 64px;
    }

    .main-title {
      margin-top: 100px;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.3;
    }

    .spacer {
      min-width: 1rem;
    }
    .btn {
      vertical-align: middle;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      flex: auto;
      width: 100%;
      height: 3.5rem;

      .social-link {
        margin-right: 1rem;
      }

      img {
        max-height: 1.4rem;
        margin-right: 0.5rem;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    &.page-welcome {
      .main-title {
        font-size: 2.5rem;
      }
      .buttons-wrapper {
        flex-direction: row;

        .btn {
          max-width: 180px;
          height: 2.5rem;
          flex: 1;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &.page-welcome {
      .main-title {
        font-size: 3rem;
      }

      .main-title {
        font-size: 2.5rem;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    &.page-welcome {
      .main-title {
        font-size: 3rem;
      }
    }
  }

  @media (min-width: 1650px) {
    &.page-welcome {
      .main-title {
        font-size: 4rem;
      }
    }
  }

  &.page-welcome-solution {
    padding-top: 0;
    position: relative;
    background-color: transparent;
    margin-top: -$solution-card-height/2;

    &:before {
      content: "";
      position: absolute;
      top: $solution-card-height/2;
      bottom: 0;
      width: 100%;
      background-color: $black5;
    }
    min-height: 0;
  }
  &.page-developers {
    background-image: url(../assets/images/bg/bg-2.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;

    @include media-breakpoint-down(lg) {
      background-image: none;
    }
  }

  &.page-steps {
    padding-top: 15vh;
  }
  &.page-roadmap {
    padding-top: 15vh;
  }
  &.page-about {
    padding-bottom: 5vh;
  }
  &.page-get-started {
  }
}

.section-hint {
  @include font-mono;
  color: $primary;
}

.solution {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    align-items: stretch;
  }
}

.solution-card {
  flex: 1;
  text-align: center;
  background-color: $black100;
  color: $white;
  border-radius: $border-radius;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  margin: 0 1rem;
  margin-bottom: 2rem;
}

.feature-card {
  // background-color: $white;
  // border-radius: $border-radius;
  // border: 1px solid $black10;
  font-size: 0.8rem;
  padding: 0.5rem;
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
  // height: 80%;

  .feature-card-text {
    margin-top: 1rem;
    @include semi-bold();
    padding-bottom: 1rem;
    height: 3rem;
  }
  img {
    width: 100px;
  }

  @include media-breakpoint-up(md) {
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 2rem;
    font-size: 0.9rem;

    img {
      width: 120px;
    }
    .feature-card-text {
      padding-bottom: 0rem;
    }
  }

  @include media-breakpoint-up(lg) {
    // margin-bottom: 4rem;
  }
}

.about-box {
  background-color: $primary;
  border-radius: $border-radius;
  box-shadow: $default-box-shadow;
  padding: 4rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  color: $white;
  border: 1px solid $black10;
  letter-spacing: 0.5px;

  .about-title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .about-title1 {
    @include mono-box;
  }
  .about-title2 {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    @include semi-bold;
  }

  @include media-breakpoint-up(lg) {
    height: 100%;
  }
}

.about-wrapper-2 {
  flex: 1;
  text-align: center;
  background-color: $black100;
  color: $white;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  display: flex;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    align-items: stretch;
  }

  > * {
    flex: 1;
  }
  h2.h2 {
    margin-bottom: 0;
  }

  .about-box {
    background-color: transparent;
    box-shadow: none;
    border: none;
    text-align: left;

    .about-title1 {
      background-color: $primary;
    }
  }
}

.roadmap-wrapper {
  margin-top: 8rem;
  margin-bottom: 6rem;
}
.roadmap-box {
  .roadmap-title {
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    @include font-mono;
    color: $black80;
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
    background-color: $primary;
    color: $white;
    display: inline-block;
    transform: rotate(-90deg) translate(calc(-100% + -45px), 0px);
    transform-origin: top left;
    border-radius: $border-radius;
  }
  .roadmap-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-left: 0;
    li {
      list-style: none;
      color: $white;
      width: 100%;
      margin: 0;
      margin-bottom: 1rem;
    }
  }
}

section.auto-height {
  min-height: 0;
}

.bg-black100 {
  background-color: $black100;
}
.text-secondary-purple {
  color: $secondary-purple;
}
.text-black40 {
  color: $black40;
}
.text-black80 {
  color: $black80;
}

nav {
  border-bottom: 1px solid #e7e7ec;
  box-shadow: 0px 2px 10px rgba(109, 95, 149, 0.06);

  .navbar-collapse {
    &.collapse.show,
    &.collapsing {
      transition: none;
      background-color: $primary;
      color: $white;
      margin-left: -1rem;
      margin-right: -1rem;
      // margin-top: -53px;
      animation: menu 0.3s ease-in;
      height: 100vh;
      position: absolute;
      top: 0;
      width: 100vw;

      .navbar-toggler {
        position: absolute;
        right: 20px;
        top: 20px;
      }

      .navbar-brand {
        margin-bottom: 2rem;

        img {
          height: 35px;
          padding-left: 1rem;
        }
      }

      .contact-title {
        border-top: 1px solid $white;
        margin: 1rem;
        padding-top: 2rem;
        margin-top: 2rem;
      }
      .contact-details {
        margin-bottom: 3rem;
      }
      .social-link {
        background-color: $white;
      }
      .nav-item {
        .nav-link {
          color: $white;
          font-size: 1.3rem;
          margin-top: 0.5rem;
        }
      }
    }
  }

  @keyframes menu {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0%);
    }
  }

  .latest-version {
    @include font-mono;
    position: absolute;
    bottom: -36px;
    height: 36px;
    background-color: $primary;
    color: $white;
    width: fit-content;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-toggler-icon {
    height: 17px;
    width: 22px;
    border-top: 3px solid $black80;
    border-bottom: 3px solid $black80;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 4px;
      left: 0;
      border-top: 3px solid $black80;
      width: 100%;
    }
  }

  .nav-item {
    display: flex;
    align-items: center;
    font-size: 0.9rem;

    .nav-link {
      color: $black60;
      white-space: nowrap;
      padding-right: 1rem !important;
      padding-left: 1rem !important;

      &.hover:hover {
        color: $primary;
      }

      .social-link {
        width: 1.5rem;
        height: 1.5rem;
      }

      &.btn {
        @include button-outline-secondary;
        margin: 0 0.5rem;
        padding: 0.5rem 2rem !important;
      }
    }
  }
}

.feature {
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  img {
    width: 90%;
    margin-top: 4rem;
  }
  .feature-description {
    font-size: 1rem;
    padding-top: 1rem;
  }

  @include media-breakpoint-up(md) {
    text-align: left;
    img {
      width: 100%;
      margin-top: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    .feature-description {
      max-width: 460px;
      font-size: 1.1rem;
    }
  }
}

.btn {
  font-size: 0.9rem;

  &:focus {
    box-shadow: none;
  }

  &.btn-dark {
    &:focus {
      background: $white;
      color: $black100;
      border: none;
    }
  }
}

.btn-outline-secondary {
  @include button-outline-secondary;
}

.social-link {
  background-color: $black100;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  -webkit-mask-size: contain;
  mask-size: contain;
  margin-right: 2rem;

  &:last-child {
    margin-right: 0;
  }

  &.linkedin {
    -webkit-mask-image: url(../assets/icons/linkedin.svg);
    mask-image: url(../assets/icons/linkedin.svg);
  }
  &.twitter {
    -webkit-mask-image: url(../assets/icons/twitter.svg);
    mask-image: url(../assets/icons/twitter.svg);
  }
  &.github {
    -webkit-mask-image: url(../assets/icons/github.svg);
    mask-image: url(../assets/icons/github.svg);
  }

  &:hover {
    background-color: $black80;
  }
}

.bg-image-policy-header {
  background-image: url(../assets/images/bg/hero_background_policy.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.policy-content-align {
  max-width: 800px;
  text-align: justify;
  margin: auto;
}

.mono-box {
  @include semi-bold();
  display: flex;
  align-items: center;
  font-size: 1.5rem;

  span {
    @include mono-box;
    background-color: $primary;
  }
  &.black {
    span {
      background-color: $black100;
    }
  }
}

.type-cards {
  display: flex;
  align-items: stretch;
  justify-content: center;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    align-items: stretch;
  }

  .type-card {
    max-width: 475px;
    margin: 0 1rem;
    flex: 1;
    background-color: $white;
    border-radius: $border-radius;
    border: 1px solid $black10;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3rem;
    flex-direction: column;
    margin-bottom: 2rem;

    ul {
      padding: 0;
      margin: 0;
      margin-top: 2rem;
      li {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        padding-left: 38px;
        margin-bottom: 1.5rem;
        color: $black80;
        &:before {
          content: "";
          width: 24px;
          height: 24px;
          background-image: url("../assets/images/list-item-check-circle.svg");
          background-repeat: no-repeat;
          position: absolute;
          left: 0;
        }
      }
    }
    .spacer {
      flex: 1;
    }
    .btn {
      align-self: flex-end;
      margin-top: 4rem;
      width: 100%;
    }
  }
}

.footer-banner {
  background-image: url(../assets/images/bg/footer-bg.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: $border-radius;
  background-color: #a787ff;
  padding: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer {
  padding-top: 10vh;

  .contact-title {
    @include semi-bold();
    color: $black100;
    margin-bottom: 1rem;
  }
  .contact-details {
    color: $black60;
    margin-bottom: 4rem;
  }

  .social-link {
    background-color: $black60;
    width: 1.5rem;
    height: 1.5rem;
  }
}
.footer-line {
  border-top: 1px solid $black10;
  height: 80px;
  color: $black40;
  font-size: 0.75rem;
  margin-top: 4rem;

  a {
    color: $black40;
    text-decoration: underline;
  }
}
