@import "./bootstrap-override.scss";
@import "./css-variables.css";

@mixin font-mono {
  font-family: "IBM Plex Mono", monospace;
}

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

section {
  min-height: 100vh;
  overflow-x: hidden;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: $black5;

  h2 {
    font-size: 3rem;
  }

  &.page-welcome {
    background-image: url(../assets/images/bg/circle_bg.svg);
    background-position: bottom left;
    background-repeat: no-repeat;

    .btn {
      height: 3rem;
      vertical-align: middle;
      width: 200px;
    }
  }

  &.page-get-started {
    background-image: url(../assets/images/bg/Get_started_banner_background.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.section-hint {
  @include font-mono;
  color: $primary;
  font-weight: 600;
}

.feature-card {
  background-color: $white;
  border-radius: $border-radius;
  padding: 1rem;
  text-align: center;
  @include font-mono;
  .feature-card-text {
    height: 3rem;
  }
}

.about-box {
  height: 100%;
  background-color: $black100;
  border-radius: $border-radius;
  padding: 3rem 2rem;
  color: $white;
  .about-title1 {
    font-size: 2rem;
    @include font-mono;
  }
  .about-title2 {
    font-size: 3rem;
    color: $secondary-purple;
    margin-bottom: 1rem;
  }
}
.roadmap-box {
  .roadmap-title {
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    @include font-mono;
    color: $black80;
    margin-bottom: 1rem;

    &:before,
    &:after {
      content: "";
      border-top: 1px solid $black30;
      flex: 1;
      height: 0px;
      margin: 15px 2rem;
    }
  }
  .roadmap-list {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    li {
      list-style: none;
      margin: 0 2rem;
      color: $primary;
      margin-left: 20px;
      margin-bottom: 1rem;
      text-transform: uppercase;
      // &:after,
      &:before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $black80;
        margin: 0 10px;
      }
    }
  }
}

.main-image {
  position: absolute;
  right: 0;
  top: 20vh;

  img {
    max-width: 40vw;
    max-height: 80vh;
  }
}

section.auto-height {
  min-height: 0;
}

.bg-black100 {
  background-color: $black100;
}

nav {
  border: 1px solid #e7e7ec;
}

.home-background {
  background-image: url("../assets/images/Hero_background.png");
  background-size: cover;
  background-position: bottom right;
}

.feature img {
  width: 100%;
}
