@import "./base.scss";

.tabs {
  position: relative;
  @include selected-tab;
  &:before {
    bottom: 0;
    left: 0;
    background-color: $black80;
    border-bottom: 1px solid $black70;
  }

  .nav-link {
    color: $black100;
    @include semi-bold;
    position: relative;
    padding-bottom: 2rem;

    &.active {
      @include selected-tab;
      &:before {
        bottom: 1px;
        left: 0;
        animation: selected-tab 0.3s ease-in-out;
      }

      .nav-link {
        color: $primary;
      }
    }
  }
}

@keyframes selected-tab {
  from {
    width: 0;
    left: 50%;
  }

  to {
    width: 100%;
    left: 0;
  }
}
