@import "./base.scss";

.tabs {
  position: relative;
  @include selected-tab;
  &:before {
    bottom: 0;
    left: 0;
    background-color: $black5;
    border-bottom: 1px solid $black10;
  }

  .nav-link {
    color: $black100;
    @include semi-bold;
    position: relative;
    padding-bottom: 2rem;

    &.active {
      @include selected-tab;
      &:before {
        bottom: 0;
        left: 0;
      }
      .nav-link {
        color: $primary;
      }
    }
  }
}
